MONGO_URI=mongodb+srv://riteshbhogekar1234_db_user:Chandrapur9356@cluster0.z0duktz.mongodb.net/
MONGO_DATABASE=hospital_management
MONGO_PATIENTS_COLLECTION=patients
MONGO_DOCTORS_COLLECTION=doctors
MONGO_APPOINTMENTS_COLLECTION=appointments